doxapy==0.9.1
ipykernel==6.22.0
nvidia-htop==1.0.5
opencv-python==4.7.0.72
pandas==1.5.3
pip-chill==1.0.1
pytorch-metric-learning==2.0.1
scikit-image==0.20.0
tensorboardx==2.6
torchaudio==2.0.1
virtualenv==20.21.0
wandb==0.14.0
